/* RESET STYLES */
@media all {
    * {
        background: none !important;
        color: #9da5b4 !important;
        border-color: #3D424E !important;
        border: none !important;
        box-shadow: none !important;
        font-style: normal !important;
        box-sizing: border-box !important;
    }

    body {
        background: #282C34 !important;
    }
}

/* FORM STYLES */
@media all {
    input:focus,
    select:focus,
    pre:focus {
        outline: none;
        border-color: hsl(95, 38%, 62%) !important;
    }

    input,
    button,
    select,
    fieldset,
    pre,
    .links a {
        background-color: #3D424E !important;
        padding: 8px !important;
        font-size: 11px !important;
        border-radius: 5px !important;
        margin-right: 5px !important;
        min-width: 5em !important;
        height: 32px !important;
        vertical-align: middle !important;
        border: 2px #3D424E solid !important;
        margin-bottom: 5px !important;
    }

    pre {
        min-height: 256px !important;
    }

    .links a,
    button,
    input[type="submit"],
    input[type="button"] {
        border: none !important;
        padding: 8px 16px !important;
        background-color: #3D424E !important;
        text-transform: uppercase !important;
        text-align: center !important;
    }

    .links a:hover,
    button:hover,
    input[type="submit"]:hover,
    input[type="button"]:hover {
        background-color: #323A44 !important;
        text-decoration: none !important;
        cursor: pointer !important;
    }

    fieldset {
        background: none !important;
        border-color: #3D424E !important;
        height: auto !important;
    }

    table .icon {
        height: 18px !important;
        padding: 0 !important;
        width: 18px !important;
        min-width: auto !important;
        margin: 0 !important;
    }
}

/* LAYOUT STYLES */
@media all {
    #content {
        position: fixed !important;
        top: 0 !important;
        bottom: 0 !important;
        right: 0 !important;
        left: 300px !important;
        margin: 0 !important;
        padding: 16px !important;
        overflow: scroll !important;
    }

    #content #breadcrumb {
        position: relative !important;
        left: 0;
        margin: 0;
        padding: 0;
    }

    #content .pages {
        position: relative !important;
        left: 0 !important;
    }

    #menu {
        border-right: 0 !important;
        top: 0;
        margin-top: 0;
        bottom: 0;
        position: fixed;
        padding: 0 !important;
        left: 0;
        width: 300px !important;
        background: #21252B !important;
        overflow-y: scroll;
    }

    #lang,
    #menu h1,
    .logout {
        display: none;
    }
}

/* OTHER LAYOUT STYLES */
@media all {
    .links a {
        display: inline-block !important;
        float: left !important;
    }

    .links:after {
        display: block;
        content: '';
        clear: both;
    }

    #menu .links a {
        width: calc(50% - 3px) !important;
    }

    #menu .links a:nth-child(even) {
        margin-right: 0 !important;
    }

    #menu .jsonly input {
        display: block !important;
        width: 100% !important;
    }

    #menu #tables > span > a {
        font-size: 11px;
        line-height: 2;
    }

    #menu #tables > span > .active,
    #menu #tables > span > a:hover {
        font-weight: normal !important;
        text-decoration: underline !important;
    }

    #menu #tables > span > .active {
        color: hsl( 95, 38%, 62%) !important;
    }

    #menu #tables > span > a:first-child {
        float: right;
    }

    #menu #dbs,
    #menu #dbs span {
        line-height: 0 !important;
        color: rgba(0, 0, 0, 0) !important;
    }

    #menu #dbs select {
        width: 100%;
    }
}

/* TABLE STYLES */
@media all {
    table tr > * {
        border-bottom: 1px #3D424E solid !important;
        border-right: 1px #3D424E solid !important;
        font-family: "Menlo" !important;
        padding: 4px !important;
        font-size: 11px;
        min-width: 64px !important;
        /*text-align: right !important;*/
    }

    table tr > * > input {
        vertical-align: middle !important;
    }

    table tr > *:last-child {
        border-right: none !important;
    }

    table tbody tr:last-child > * {
        border-bottom: none !important;
    }
}

/* CODE HIGHLIGHTING STYLES */
@media all {
    .jush {
        font-family: "Menlo" !important;
        font-size: 11px;
    }

    .jush-sql a,
    .jush-sql_code a,
    .jush-sqlite a,
    .jush-pgsql a,
    .jush-mssql a,
    .jush-oracle a,
    .jush-simpledb a {
        color: hsl(286, 60%, 67%) !important;
    }

    .jush-bac,
    .jush-bac a,
    .jush-bac .jush-op,
    .jush-php_bac,
    .jush-bra,
    .jush-mssql_bra,
    .jush-sqlite_quo,
    .jush-php_quo,
    .jush-quo,
    .jush-quo_one,
    .jush-php_eot,
    .jush-apo,
    .jush-sql_apo,
    .jush-sql_apo .jush-op,
    .jush-sqlite_apo,
    .jush-sql_quo .jush-op,
    .jush-sql_quo,
    .jush-sql_eot {
        color: hsl(95, 38%, 62%) !important;
    }

    .jush-num .jush-op,
    .jush-clr {
        color: hsl(29, 54%, 61%) !important;
    }
}
